<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz03</title>
</head>

<body>
    <p>월드컵 순위표</p>
    <table border="1">
        <tr>
            {%for value in menu%}
            <th>{{value}}</th>
            {%endfor%}
        </tr>
        {%for values in score%}
        <tr>
            {%for val in values%}
            {%if forloop.counter == 1%}}
            <th>{{val}}</th>
            {%elif forloop.counter == 2%}
            {%for k, v in val.items%}
            <td><a href="{{v}}">{{k}}</a></td>
            {%endfor%}
            {%else%}
            <td>{{val}}</td>
            {%endif%}
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>

</html>